
/*limpar tela */
*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-size: "Trebuchet MS",Helvitica,san-serif;
    background: #e6e6e6;
}
/* 
******Layout*****

*/

#Cabecalho{
    background: #f7b600;
    padding: 15px;
    text-align: center;
   
}

#Logo,#Menu{
    padding: 10px;
}
#principal{
    
    width: 920px;
    margin: 0px auto;
    padding: 15px;


}


#postanges{
    width: 660px;
    float: left;
 

}
#lateral{
    width: 240px;
    float: right;
    background: white;
   

}
.postagens{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
   

}
.conteudol{

    padding: 5px;
    margin: 10px;
}
.plateral{
    font-size: 0.8em;
    padding: 5px;

}
#rodape{
    background-color: #cccccc;
clear: both;
    text-align: center;
    padding: 10px;
}
/* fomratação menu*/
a{
    text-decoration:none;
    

}
 a:link, a:visited{
    color: #f7b600;
    font-weight: bold;
}
 a:hover{
     text-decoration: underline;



}
#Cabecalho a:link, #Cabecalho a:visited{
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}
#Cabecalho a:hover{
    color: #f7b600;
    background: white;
    text-decoration: none;


}


/*Formatação em geral */
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
h2{
    color: #f7b600;
}
h3{
    color: #565655;
    background: #ccc;
    padding: 5px;
}
.branco{
color: white;
}
.date{
    font-size: 0.8em;
    border:1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;

}


